<!-- Footer -->
<div id="footer">
	<hr>
    <div class="container">
        <div class="row">
        	<div class="col-md-6">
        		<a href="">facebook</a>
        		<a href="">twitter</a>
        		<a href="">pinterest</a>
        		<a href="">instagram</a>
        	</div>
        	<div class="col-md-6">
        		<div class="pull-right">
        			<h5><strong>CONTACT US</strong></h5>
        			<h6>support@butiquesui.com</h6>
        		</div>
        	</div>
        </div>
        <div class="row">
        	<p>2017 Boutique Sui Numeric. All rights reserved</p>
        </div>
    </div>
</div>
