<!-- Nav -->
<nav id="layout-nav" class="navbar navbar navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container" style="min-height: 70px">
        <div class="row">
            <div class="col-md-6">
              <div class="logos">
                    <a href="" class="as-seen">As Seen in </a>
                    <a href=""><img class="elle-logo" src="{{ 'assets/images/Elle logo.png' | theme }}"></a>
                    <a href=""><img class="life-style-logo" src="{{ 'assets/images/life-style-weekly-logo.png' | theme }}"></a>
              </div>
            </div>
            <div class="col-md-6">
            <div class="nav-right pull-right">
                <a href="" class="language">En </a>
                <a href=""><i class="fas fa-search"></i></a>
                <a href="" class="card"> CART(0) </a>
            </div>
            </div>
        </div>
    </div>
</nav>
